<!DOCTYPE html>
<html>
<head>
  <title></title>
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script src="/scripts/app.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <form class="UserForm" >
        <p> Submit url:</p>
        <input type="text" name="userInput" id="userInput" required>
        <input type="submit">
    </form>
    <div class="ServerResponse">
        <h4>Job ID: </h4>
        <p id ="jobID"></p>

        <h4>Job Data: </h4>
        <p id ="jobData"></p>
    </div>
</body>
</html>
